/* CSS STYLESHEET START */

@font-face {
    font-family: 'hoboken-regular';
    src: url('../fonts/hoboken-regular-webfont.woff2') format('woff2'),
         url('../fonts/hoboken-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serpentine';
    src: url('../fonts/Serpentine-Bold.woff2') format('woff2'),
        url('../fonts/Serpentine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


.hidden {
	display: none;
}

#wrapper {
	margin: 0px auto;
	width: 1200px;	
}

#rotatingKey {
	width: 75px;
	height: 75px;
	display: block;
	margin: 0px auto;
	padding: 32px;
}

#rotatingKey {
	transform-origin: center; 
	animation: rotate 10s infinite ease-in-out;
}

@keyframes rotate {
       0% {
       transform: rotate(0deg)
       }
       25% {
       transform: rotate(360deg)
       }
       50% {
       	transform: rotate(0deg)
       }
       50% {
       	transform: scaleY(0.500);
       }
       65% {
       	transform: scaleY(1);
       }
 }

/* MAIN HEADER START */

#mainHeader {
	height: 100px;
	display: flex;
	flex-direction: row;
	border-bottom: 15px black solid;
	background: rgb(194,201,206);
	background: -moz-linear-gradient(180deg, rgba(194,201,206,1) 0%, rgba(203,34,41,1) 46%);
	background: -webkit-linear-gradient(180deg, rgba(194,201,206,1) 0%, rgba(203,34,41,1) 46%);
	background: linear-gradient(180deg, rgba(194,201,206,1) 0%, rgba(203,34,41,1) 46%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2c9ce",endColorstr="#cb2229",GradientType=1);
}

#mainLogo {
	width: 180px;
	height: 205px;
	margin-left: 84px;
	margin-top: 8px;
	position: absolute;
	transition: all 1.35s;
}

#mainLogo:hover {
	width: 185px;
}

#headerNav {
	margin-left: auto;
	display: flex;
	margin-right: 64px;
}

#headerNav ul {
	display: flex;
	flex-direction: row;
	margin-top: 64px;
}

#headerNav ul li {
	transition: all .5s;
	margin-left: 10px;
	border-radius: 10px 10px 0px 0px;
	padding: 8px;
}

#headerNav ul li:hover {
	background-color: #000;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 3px 3px 2px rgba(0,0,0,.75);
}

#headerNav ul li a {
	font-family: Serpentine;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #F2F2F2;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	text-decoration: none;
	padding: 8px;
}

#pageTitle {
	font-family: Serpentine;
	font-size: 36px;
	text-transform: uppercase;

}

/* FOOTER SECTION START */

#mainFooter {
	border-top: 15px black solid;
	padding: 32px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: rgb(203,34,41);
	background: -moz-linear-gradient(180deg, rgba(203,34,41,1) 54%, rgba(194,201,206,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(203,34,41,1) 54%, rgba(194,201,206,1) 100%);
	background: linear-gradient(180deg, rgba(203,34,41,1) 54%, rgba(194,201,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cb2229",endColorstr="#c2c9ce",GradientType=1);
}

#footerNav ul {
	display: flex;
	flex-direction: row;
	font-family: hoboken-regular;
}

#footerNav ul li {
	margin-left: 8px;
}

#footerNav ul li a {
	color: #F2F2F2;
	text-decoration: none;
	transition: all .5s;
}

#footerNav ul li a:hover {
	color: #c2c9ce;
	text-shadow: 0px 2px 1px rgba(0,0,0,.25);
	text-decoration: underline;
}

#typefaceLogo {
	width: 225px;
}

#socMBut {
	display: flex;
	flex-direction: row;
}

#socMBut img {
	width: 35px;
	margin: 8px;
	transition: all .3s;
}

#socMBut img:hover {
	margin-top: 3px;
}

#socialMediaNav {
	width: 225px;
}

/* INDEX.HTML START */

#welcomeSection {
	width: 1200px;
	height: 700px;
	background-color: #c2c9ce; /*ideally, i would like this to be a video created in Cinema 4D*/
	-webkit-box-shadow: inset 0px 8px 8px 3px rgba(0,0,0,0.53);
	-moz-box-shadow: inset 0px 8px 8px 3px rgba(0,0,0,0.53);
	box-shadow: inset 0px 8px 8px 3px rgba(0,0,0,0.53);
}

#welcomeSection h2 {
	padding-top: 300px;
	margin-left: 900px;
}

#welcomeSection img {
	width: 450px;
	height: 300px;
	margin-left: 64px;
	-webkit-box-shadow: -8px 8px 8px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: -8px 8px 8px 2px rgba(0,0,0,0.5);
	box-shadow: -8px 8px 8px 2px rgba(0,0,0,0.5);
}

#welcomeWriteup {
	margin-top: -80px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#welcomeWriteup p {
	font-family: hoboken-regular;
	color: #F2F2F2;
	width: 536px;
	height: 115px;
	line-height: 20px;
	margin-left: auto;
	margin-right: 64px;
	padding: 16px;
	background-color: rgba(0,0,0,.5);
	border-radius: 10px;
}

/* ABOUT US START */

#aboutUsSection {
	background-color: #c2c9ce;
	padding-top: 64px;
}

#partnerArticle {
	margin-bottom: 32px;
}

#aboutUsSection h2 {
	text-align: center;
}

#partnerArticle h3 {
	font-family: Serpentine;
	text-transform: uppercase;
	margin-left: 64px;
	margin-top: 64px;
	font-size: 24px;
}

#partnerArticle p {
	font-family: hoboken-regular;
	color: #F2F2F2;
	width: 500px;
	height: 200px;
	line-height: 20px;
	margin-left: 64px;
	padding: 16px;
	background-color: rgba(0,0,0,.5);
	border-radius: 10px;
}

#partnerRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#awardsSection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 64px;
}

#awardsSection h2 {
	font-family: Serpentine;
	text-transform: uppercase;
	font-size: 24px;
	position: absolute;
	margin-top: -285px;
}

#awardsSection p {
	font-family: hoboken-regular;
	width: 330px;
	line-height: 20px;
}

#awardsSection img {
	width: 200px;
	height: 200px;
}

.award {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.award img {
	margin-bottom: 32px;
}

.award h3 {
	font-family: Serpentine;
	margin-bottom: 16px;
}

#FAQ {
	padding-bottom: 32px;
	margin-top: -64px;
}

#FAQ h2 { 
	text-align: right;
	font-family: Serpentine;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 16px;
	margin-right: 64px; 
}

#FAQ img {
	position: absolute;
	margin-top: 64px;
}

#FAQRow {
	font-family: hoboken-regular;
	display: flex;
	flex-direction: column;
	width: 600px;
	margin-left: auto;
}

#FAQRow p {
	line-height: 20px;
	letter-spacing: .5px;
	margin-bottom: 8px;
	width: 536px;
}

#FAQRow p:first-letter {
	font-size: 20px;
}

/* AROMAS.HTML START */

#aromas {
	background-color: #c2c9ce;
	padding-bottom: 64px;
}

#aromas.pageTitle {
	padding-top: 64px;
}

#aromas h2 {
	text-align: center;
	padding-top: 64px;
}

#aromas h3 {
	color: #F2F2F2;
	font-size: 36px;
	font-family: Serpentine;
	text-transform: uppercase;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
}

.aromaR {
	display: flex;
	margin-top: 290px;
}

.aromaR h3 {
	padding-top: 128px;
	padding-left: 64px;
}

.aromaL h3 {
	padding-top: 128px;
	margin-left: 500px;
}

.aromaR .aromaWriteup {
	margin-left: 64px;
}

.aromaL .aromaWriteup {
	margin-left: 564px;
}

.aromaL h3 {
	padding-top: 128px;
	padding-left: 64px;
}


.aromaL {
	display: flex;
	flex-direction: row;
	margin-top: 290px;
}

.aromaWriteup {
	font-family: hoboken-regular;
	color: #F2F2F2;
	width: 500px;
	height: 80px;
	padding: 32px;
	margin-top: 16px;
	background-color: rgba(0,0,0,.5);
	border-radius: 10px;
	line-height: 20px;
}


.aromaR img {
	width: 247px;
	height: 725px;
	position: absolute;
	margin-left: 840px;
	margin-top: -620px; 
}

.aromaL img {
	width: 247px;
	height: 725px;
	position: absolute;
	margin-left: 128px;
	margin-top: -620px; 
}

#aroma1 {
	background-image: url("../images/aroma1.jpg");
	height: 420px;
	width: 1200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
}

#aroma2 {
	background-image: url("../images/aroma2.jpg");
	height: 420px;
	width: 1200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
}

#aroma3 {
	background-image: url("../images/aroma3.jpg");
	height: 420px;
	width: 1200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
}

#aroma4 {
	background-image: url("../images/aroma4.jpg");
	height: 420px;
	width: 1200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,1);
}

/* PROMOTIONS.HTML START */

#promotions {
	padding-top: 32px;
	padding-bottom: 64px;
	background-color: #c2c9ce;
}

#promotions h2 {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 32px;
}

.beerAdRow {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	margin-top: 32px;
 }

 #centerAd {
 	margin: 0px auto;
 	display: block;
 	margin-top: 32px;
 }



/* MERCH.HTML START */

#merch {
	background-color: #c2c9ce;
}

#merch p {
	font-family: hoboken-regular;
	line-height: 20px;
}

.merchInfo p:first-child {
	font-size: 25px;
	padding-top: 5px;
}

.fauxBold {
	text-shadow: 1px 0 0 currentColor;
	letter-spacing: 1px;
}

#merch h2 {
	text-align: center;
	padding-top: 64px;
	padding-bottom: 64px;
}

#merch img {
	width: 300px;
	height: 300px;
	background-color: white;
	border: 2px solid black;
	border-radius: 4px;
}

#merch button {
	font-family: Serpentine;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #F2F2F2;
	height: 40px;
	position: absolute;
	margin-left: 175px;
	margin-top: 22px;
	background-color: #cb2229;
	border-radius: 5px;
}

#merch button:hover {
	color: #000;
	background-color: #c2c9ce;
}

#merch button:active {
	background-color: #F2F2F2;
	margin-top: 25px;
}

.merchInfo {
	display: flex;
	flex-direction: column;
}

.merchRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 64px;
}

.merchItem {
	display: flex;
	width: 300px;
	flex-direction: column;
}

/* CONTACT.HTML START */

#contactSection {
	font-family: hoboken-regular;
	padding-bottom: 64px;
	background-color: #c2c9ce
}

#contactSection h2 {
	text-align: center;
	padding-top: 64px;
	padding-bottom: 64px;
}

#contactFull {
	display: flex;
	flex-direction: row;
	margin-left: 64px;
}

#mainContact {
	border-right: 2px grey solid;
	width: 536px;
}

fieldset {
	border: none;
	padding: 0px;
}


input, textarea  {
	font-size: 11px;
	margin-bottom: 16px;
	padding: 8px;
	width: 250px;
	height: 8px;
	background-color: #F2F2F2;
	display: block;
	border: 1px solid black;
	color: black;
}

#comments {
	width: 360px;
	height: 200px;
}

#submit {
	font-family: Serpentine;
	width: 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #F2F2F2;
	height: 30px;
	position: absolute;
	background-color: #cb2229;
	border-radius: 5px;
}

#submit:hover {
	background-color: #c2c9ce;
	color: #000;
}

#submit:active {
	background-color: #F2F2F2;
	margin-top: 3px;
}

#addressArea {
	width: 356px;
	margin-left: 64px;
}

#addressArea h3 {
	font-size: 24px;
	margin-bottom: 16px;
}

#addressArea iframe {
	margin-top: 32px;
}